/* CSS Reset */
body {
    margin: 0px;
    padding: 0px;
    background: url('../img/bg.jpg');
    background-size: cover;
   

}
.left,
.mid,
.right {
    color: #fff;
}

.logo {
    position: absolute;
    size: 10px;
    left: 365px;
    top: 27px;
display: inline-block;
}
.heading {
    color: rgb(22, 228, 22);
    display: block;
    width: 33%;
    margin: -23px auto;
    font-family: 'Reggae One', cursive;
    font-size: xx-large;

}
/* .right {
position: absolute;
right: 34px;
top: 20px;
display: inline-block;
border: 2px solid #0000ff;
} */


.navbar {
    display: inline-block;
    
    
}

.navbar li {
    display: inline-block;
font-size: 30px;

}
.navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 34px 23px;
    font-family: 'Reggae One', cursive;
}
.navbar li a:hover,.navbar li a:active {
    color: rgb(218, 25, 25);
}